.container {
  max-width: 1240px;
  padding: 0 2rem;
  margin: 3rem auto;

}



.divBtn {
  display: flex;
  gap: 1rem;

  input {
    height: 40px;
    width: 60%;
    padding: 0 0.5rem;
    font-size: 1rem;
  }

  button {
    padding: 5px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.2s;
  }

  #btn1 {
    background-color: #659934;

  }

  #btn2 {
    background-color: #dd1446;

  }

}